    :root {
        --color-primary: #7F78D2;
        --color-auxiliar: #52DE97;
        --color-textLight: #FFF;
        --color-textDark: #000;
        --color-background: #F7F7F7;
        --color-grayAccent: #d4d7dd;
        --color-gray: #E5E7EA;
        --font-principal: 'Raleway', sans-serif;
        --fontSize-30: 30px;
        --fontSize-20: 20px;
        --fontSize-18: 18px;
        --fontSize-16: 16px;
        --fontWeight-Bold: 700;
        --fontWeight-Extrabold: 800;
        --font-second: 'Century Gothic', sans-serif;
        --maximumWidth: 1000px;
        --margin-interline: 80px auto 0;
    }

    /* --- General Styles --*/

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: var(--color-background);
    }

    /* --- Header --*/

    .header {
        background: var(--color-primary);
        color: var(--color-textLight);
        height: 80px;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: var(--maximumWidth);
        margin: 0 auto;
    }

    .menu a {
        color: var(--color-textLight);
        text-decoration: none;
        font-size: var(--fontSize-18);
        font-weight: var(--fontWeight-Extrabold);
        font-family: var(--font-principal);
        display: none;
    }

    nav div ul li {
        display: inline;
    }

    nav div ul li a {
        text-decoration: none;
        color: var(--color-textLight);
        font-family: var(--font-principal);
        font-size: var(--fontSize-18);
        font-weight: var(--fontWeight-Extrabold);
        padding: 0 10px;
    }

    /* --- Hero --- */

    .hero-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        margin: 0 auto;
        margin: var(--margin-interline);
    }

 img {
        vertical-align: bottom;
    }

    img.img-up {
        position: relative;
        top: -100px;
    }

    .descriptionWrapper {
        margin: 0 50px 0 0;
    }

    .description {
        max-width: 350px;
        min-width: 330px;
        font-family: var(--font-principal);
        font-size: var(--fontSize-18);
        position: relative;
        top: -30px;
    }

    .wovli-logo {
        position: relative;
        top: -30px;
        text-align: center;
        left: -20px;
    }

    .btn-cta {
        background: var(--color-primary);
        color: var(--color-textLight);
        width: 300px;
        height: 50px;
        border: none;
        border-radius: 5px;
        font-family: var(--font-principal);
        font-size: var(--fontSize-16);
        font-weight: var(--fontWeight-Bold);
        -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    }

    /* --- Portfolio services ---*/

    .portfolio-services {
        background: var(--color-auxiliar);
        color: var(--color-textLight);
        margin: var(--margin-interline);
        padding: 60px;
    }

    .title-sectionA {
        color: var(--color-textLight);
        font-family: var(--font-principal);
        font-size: var(--fontSize-30);
        font-weight: var(--fontWeight-Extrabold);
        
        text-align: center;
        padding: 0 0 40px;
        margin: 0 auto;
    }

    .portfolio-container {
        
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .card-portfolio {
        max-width: 250px;
        min-width: 250px;
        height: auto;
        background: var(--color-textLight);
        padding: 25px;
        border-radius: 5px;
        -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    }

    .img-card {
        text-align: center;
        margin-bottom: 30px;
    }

    .subtitle {
        font-family: var(--font-second);
        font-size: var(--fontSize-20);
        font-weight: var(--fontWeight-Bold);
        color: var(--color-textDark);
        text-align: center;
        margin-bottom: 30px;
        max-height: 100px;
        min-height: 50px;
    }

    .btn-portfolio {
        background: var(--color-primary);
        color: var(--color-textLight);
        font-family: var(--font-principal);
        font-size: var(--fontSize-16);
        font-weight: var(--fontWeight-Bold);
        border: none;
        border-radius: 3px;
        height: 40px;
        width: 200px;
        max-width: 200px;
        min-width: 200px;
    }

    /* --- Benefits --- */

    .benefits {
        margin: 0 auto;
        padding: 60px;
    }

    .subtitles {
        font-family: var(--font-second);
        font-size: var(--fontSize-20);
        font-weight: var(--fontWeight-Bold);
        color: var(--color-textDark);
        text-align: center;
        margin-bottom: 10px;
        max-height: 100px;
        min-height: 50px;
    }

    .benefits-container {
        
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .description-benefits {
        text-align: center;
        font-family: var(--font-principal);
        font-size: var(--fontSize-18);
    }

    .title-sectionB {
        color: var(--color-textDark);
        font-family: var(--font-principal);
        font-size: var(--fontSize-30);
        font-weight: var(--fontWeight-Extrabold);
        
        text-align: center;
        padding: 0 0 40px;
        margin: 0 auto;
    }

    .card-benefits {
        max-width: 250px;
        min-width: 250px;
        max-height: 400px;
        min-height: 350px;
        background: var(--color-textLight);
        padding: 25px;
        border-radius: 5px;
        -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    }

    /* --- Contact --- */

    .form-contact {
        width: 500px;
        margin: 0 auto;
        padding: 0 30px 60px;
    }

    form div h2.section-title {
        padding: 0 20px 20px;
    }

    label {
        font-family: var(--font-principal);
        font-size: 16px;
        font-weight: var(--fontWeight-Bold);
        text-align: left;
        padding: 15px 0;
    }

    .input-container input {
        font-family: var(--font-principal);
        font-size: 12px;
        text-align: left;
        padding: 15px 0 5px;
        margin-bottom: 15px;
        min-width: 300px;
        max-width: 440px;
        width: 440px;
        height: auto;
        border: 0;
        border-bottom: 1px solid var(--color-gray);
        background: none;
    }

    textarea {
        font-family: var(--font-principal);
        font-size: 12px;
        text-align: left;
        padding: 15px 0 5px;
        min-width: 300px;
        max-width: 440px;
        width: 440px;
        min-height: 50px;
        max-height: 100px;
        height: 100px;
        color: var(--color-textDark);
        margin: 0 0 15px 0;
        border: 0;
        background: none;
        border-bottom: 1px solid var(--color-gray);
        vertical-align: text-bottom;
    }

    .btn-form input {
        max-width: 400px;
        min-width: 350px;
        width: auto;
        height: 40px;
        border-radius: 3px;
        color: var(--color-textLight);
        background: var(--color-primary);
        border: 0;
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--font-principal);
        font-size: var(--fontSize-16);
        font-weight: var(--fontWeight-Bold);
        -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    }

    .btn:hover {
        transform: scale(1.05);
        transition: .2s ease-in;
        cursor: pointer;
        color: var(--color-textLight);
    }

    /* --- Footer --- */

    footer.footer {
        background: var(--color-primary);
        margin: 0 auto;
        padding: 20px;
    }

    .footer-container {
        
        margin: 0 auto;
    }

    .footer-firstLine {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-secondLine {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0 10px 0 20px;
    }

    .footer-brand {
        text-align: center;
        color: var(--color-textLight);
        font-family: var(--font-second);
        font-size: var(--fontSize-18);
    }

    .heart {
        color: red;
        border: red;
    }

    .mail a {
        color: var(--color-textLight);
        text-decoration: none;
        font-family: var(--font-second);
        font-size: var(--fontSize-18);
    }

    a:hover {
        color: var(--color-grayAccent);
        text-decoration: none;
    }

    .social-icons:hover {
        transform: scale(1.1);
        transition: .2s ease-in;
        cursor: pointer;
    }